.navbar
    background: url('../../img/navbar/shape-bg.png') right no-repeat
    background-size: cover
    &-block
        padding-top: 16px
        display: flex
        justify-content: space-between
        align-items: center
    &-list  
        display: flex
        justify-content: space-between
        &__item
            text-decoration: none
            color: #ffffff
            font-family: "Arial"
            font-size: 16px
            font-weight: 400
            padding: 6px 10px
            &:hover
                background-color: #232324
                border-radius: 5px
        
    &__title
        margin: 0
        display: inline-block
        text-shadow: 0 1px 1px #c34b2a
        color: #ffffff
        font-family: "trebuchetR"
        font-size: 35px
        font-weight: 200
        line-height: 28px
        margin-left: 10px
    &__subtitle
        display: block
        color: #ffffff
        font-family: "trebuchetR"
        font-size: 15px
        font-weight: 400
        line-height: 24px
        letter-spacing: 0.68px
    &__img 
        display: inline-

@media (max-width: 1200px)
  .navbar
      &-block
          padding-top: 10px
      &-list
          flex-basis: 0
          margin-right: 25px

@media (max-width: 800px)
  .navbar
      justify-content: center
      &-list
          flex-direction: column
@media (max-width: 560px)
  .navbar
      &-block
        flex-direction: column
        justify-content: center
      &-list
          margin-right: 0   
          margin-top: 10px
          flex-direction: column
          display: inline-block
        